<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .root {
    padding: 15px;
  }
</style>

<!-- Toolbar -->
<div class="root">
  <span>{{ title }}</span>
  <br>
  Enter a name: <input type="text" [(ngModel)]="name"> 
  <br>
  <button (click)="secondEvent()">guess age</button>
  <br>
  <span>result: </span>
  <div>
    {{ currentResult }}
  </div>
</div>