<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .root {
    padding: 15px;
  }
</style>

<!-- Toolbar -->
<div class="root">
  <span>Jing Yang from Silicon Valley</span>
  <br>
  <span>{{ title }} app is running!</span>
  <br>
  <button (click)="firstEvent()">click me</button>
</div>


<router-outlet></router-outlet>